:root {
  // colors
  --col-bg: hsl(185, 41%, 84%);
  --col-white: hsl(0, 0%, 100%);
  ---col-bg-input: hsl(189, 41%, 97%);
  --col--bg-tips: hsl(183, 100%, 15%);
  --col-primary: hsl(172, 67%, 45%);
  --col-text: hsl(186, 14%, 43%);
  --col-text-input: hsl(184, 14%, 56%);
}
