@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

@import 'mixins';
@import 'variables';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
}
body {
  box-sizing: border-box;
  font-size: 1.2rem;
  line-height: 1.5;
  font-family: 'Space Mono', monospace;
  font-size: 2.4rem;
  background-color: var(--col-bg);
}
img {
  width: 100%;
  display: block;
}
.tip {
  @include flex(center);
  flex-direction: column;

  height: 100vh;
  padding: 3rem;

  &__header {
    color: var(--col-text);
    padding-bottom: 3rem;
  }
  &__container {
    max-width: 80rem;
    background-color: var(--col-white);
    border-radius: 2rem;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;

    .tip__calcul {
    }
    .tip__result {
      background-color: var(--col--bg-tips);
      border-radius: 1rem;
      padding: 3rem;
    }
  }
}
