@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

@import 'mixins';
@import 'variables';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
}
body {
  box-sizing: border-box;
  font-size: 1.2rem;
  line-height: 1.5;
  font-family: 'Space Mono', monospace;
  font-size: 2.4rem;
  background-color: var(--col-bg);
}
img,
input {
  width: 100%;
  display: block;
}
input {
  border: none;
  background-color: var(--col-bg-input);
  font-family: inherit;
  font-size: 1.8rem;
  font-weight: 700;
  padding: 0.6rem 1.6rem;
  text-align: end;
  color: var(--col--bg-tips);
  outline: none;
  border-radius: 0.5rem;

  &::placeholder {
    color: var(--col-text-input);
  }
  &:hover {
    outline: solid 1px hsla(185, 41%, 84%, 0.5);
  }
}
h3 {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

// // // // // // // // // // // // // // // /
.tip {
  @include flex(center);

  height: 100vh;
  padding: 3rem;

  &__header {
    color: var(--col-text);
    margin-bottom: 6rem;
    letter-spacing: 10px;
    font-size: 1.8rem;
  }
  &__container {
    max-width: 70rem;
    width: 100%;
    background-color: var(--col-white);
    border-radius: 2rem;
    padding: 3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;

    @include breakpoint-down('medium') {
      max-width: 60rem;
    }
    @include breakpoint-down('small') {
      max-width: 30rem;
      grid-template-columns: 1fr;
      gap: 2rem;
      padding: 2rem;
    }

    // left half
    .tip__calcul {
      padding: 1rem;
      color: var(--col-text);

      label {
        position: relative;

        .tip__bill {
          margin-bottom: 3rem;
        }
        img {
          position: absolute;
          width: 1rem;
          top: 50%;
          transform: translateY(-50%);
          left: 1.6rem;
        }
      }
      .tip__selectWrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        margin: 1rem 0 3rem;

        @include breakpoint-down('small') {
          grid-template-columns: repeat(2, 1fr);
          gap: 1.4rem;
        }

        span {
          background-color: var(--col--bg-tips);
          color: var(--col-bg-input);
          padding: 0.5rem;
          font-size: 1.6rem;
          border-radius: 0.4rem;
          text-align: center;
          transition: all 0.2s ease-in-out;
          cursor: pointer;

          &:last-child {
            background-color: var(--col-bg-input);
            color: var(--col--bg-tips);

            &:hover {
              background-color: var(--col-bg);
            }
          }

          &:hover {
            background-color: var(--col-primary);
            color: var(--col--bg-tips);
          }
          &:active {
            transform: scale(0.99) translateY(2px);
          }
        }
      }
    }

    // right half
    .tip__resultWraper {
      background-color: var(--col--bg-tips);
      border-radius: 1rem;
      padding: 3.6rem 3rem 2.8rem;
      @include flex(flex-start);

      @include breakpoint-down('small') {
        padding: 2rem;
      }

      .tip__result {
        &:first-child {
          margin-bottom: 2.6rem;

          @include breakpoint-down('small') {
            margin-bottom: 1rem;
          }
        }
        @include flex(space-between);
        flex-direction: row;
        align-items: flex-end;
        width: 100%;

        h3 {
          color: var(--col-bg-input);
          span {
            display: block;
            color: var(--col-text-input);
            font-size: 1rem;
          }
        }

        .tip__amount {
          font-size: 3.2rem;
          font-weight: 400;
          color: var(--col-primary);
        }
      }
      .tip__reset {
        border: none;
        width: 100%;
        color: var(--col-text);
        opacity: 0.18;
        padding: 1rem;
        border-radius: 0.4rem;
        margin-top: auto;
        transition: all 0.2s ease-in-out;
        box-shadow: 0 1px 2px 5px rgba(0, 0, 0, 0.1);

        @include breakpoint-down('small') {
          margin-top: 3rem;
        }

        &:hover {
          background-color: var(--col-primary);
          color: var(--col--bg-tips);
          opacity: 1;
        }
        &:active {
          transform: scale(0.99) translateY(2px);
          box-shadow: 0 3px 6px 5px rgba(0, 0, 0, 0.2);
        }
      }
    }
  }
}
